<div class="user-container">
  <h2 class="user-title">Gestión de Usuarios</h2>

  <!-- Formulario para crear o actualizar usuario -->
  <div class="user-card">
    <form *ngIf="selectedUser; else newUserForm" (ngSubmit)="updateUser()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input [(ngModel)]="selectedUser.name" name="name" id="name" type="text" class="form-control" placeholder="Nombre" required />
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input [(ngModel)]="selectedUser.email" name="email" id="email" type="email" class="form-control" placeholder="Correo Electrónico" required />
      </div>
      <div class="form-group">
        <label for="birthDate">Fecha de Nacimiento</label>
        <input [(ngModel)]="selectedUser.birthDate" name="birthDate" id="birthDate" type="date" class="form-control" placeholder="Fecha de Nacimiento" required />
      </div>
      <div class="form-group">
        <label for="isAdmin">Administrador</label>
        <input [(ngModel)]="selectedUser.isAdmin" name="isAdmin" id="isAdmin" type="checkbox" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input [(ngModel)]="selectedUser.password" name="password" id="password" type="password" class="form-control" placeholder="Contraseña" required />
      </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      <button type="button" class="btn btn-secondary" (click)="selectedUser = null">Cancelar</button>
    </form>

    <ng-template #newUserForm>
      <form (ngSubmit)="createUser()">
        <div class="form-group">
          <label for="newName">Nombre</label>
          <input [(ngModel)]="newUser.name" name="name" id="newName" type="text" class="form-control" placeholder="Nombre" required />
        </div>
        <div class="form-group">
          <label for="newEmail">Correo Electrónico</label>
          <input [(ngModel)]="newUser.email" name="email" id="newEmail" type="email" class="form-control" placeholder="Correo Electrónico" required />
        </div>
        <div class="form-group">
          <label for="newBirthDate">Fecha de nacimiento</label>
          <input [(ngModel)]="newUser.birthDate" name="birthDate" id="newBirthDate" type="date" class="form-control" placeholder="Fecha de nacimiento" required />
        </div>
        <div class="form-group">
          <label for="newIsAdmin">Administrador</label>
          <input [(ngModel)]="newUser.isAdmin" name="isAdmin" id="newIsAdmin" type="checkbox" class="form-control" placeholder="Administrador" required />
        </div>
        <div class="form-group">
          <label for="newIsHidden">Oculto</label>
          <input [(ngModel)]="newUser.isHidden" name="isHidden" id="newIsHidden" type="checkbox" class="form-control" placeholder="Oculto" required />
        </div>
        <div class="form-group">
          <label for="newPassword">Contraseña</label>
          <input [(ngModel)]="newUser.password" name="password" id="newPassword" type="password" class="form-control" placeholder="Contraseña" required />
        </div>
        <button type="submit" class="btn btn-success">Crear</button>
      </form>
    </ng-template>
  </div>

  <ul class="list-group user-list">
    <li *ngFor="let user of users | paginate: { itemsPerPage: pageSize, currentPage: page }" 
        class="list-group-item d-flex justify-content-between align-items-center"
        [ngClass]="{ 'hidden-user': user.isHidden }">
      <span>Usuario: {{ user.name }} - Correo: {{ user.email }}</span>
      <div>
        <button class="btn btn-info btn-sm mr-2" (click)="selectUser(user)">Editar</button>
        <button class="btn btn-warning btn-sm" (click)="hideUser(user._id, !user.isHidden)">
          {{ user.isHidden ? "Mostrar" : "Ocultar" }}
        </button>
      </div>
    </li>
  </ul>
  
  <div class="pagination-controls">
    <button class="btn btn-primary" (click)="previousPage()" [disabled]="page === 1">Anterior</button>
    <pagination-controls (pageChange)="page = $event; getUsers()"></pagination-controls>
    <button class="btn btn-primary" (click)="nextPage()" [disabled]="page === totalPages">Siguiente</button>
  </div>
  <div class="form-group">
    <label for="pageSize">Usuarios por página:</label>
    <select [(ngModel)]="pageSize" name="pageSize" id="pageSize" class="form-control" (change)="getUsers()">
      <option [value]="10">10</option>
      <option [value]="25">25</option>
      <option [value]="50">50</option>
    </select>
  </div>
</div>