
@if(loggedin){
  <div>
    <h1>Bienvenido </h1>
    <button routerLink="/users" class="btn btn-primary">Usuarios</button>
    <button routerLink="/gyms" class="btn btn-primary">Gimnasios</button>
    <button routerLink="/combats" class="btn btn-primary">Combates</button>
    <button routerLink="/comments" class="btn btn-primary">Comentarios</button>
    <button (click)="logout()" class="btn btn-secondary">Cerrar sesión</button>
  </div>
}
@else {
  <h1>Bienvenido, introduce tus datos</h1>
}

<router-outlet></router-outlet>