<div class="container">
  <form [formGroup]="formularioRegistre" (ngSubmit)="registrar()">
    <h1 class="form-title">Registre d'usuari</h1>
    
    <div class="form-group">
      <label for="name">Nom:</label>
      <input 
        type="text" 
        id="name" 
        formControlName="name"
        class="form-control"
        [ngClass]="{'form-control-error': teError('name', 'required')}">
      <div class="error-message" *ngIf="teError('name', 'required')">Nom requerit.</div>
    </div>

    <div class="form-group">
      <label for="birthDate">Data de naixement:</label>
      <input 
        type="date" 
        id="birthDate" 
        formControlName="birthDate"
        class="form-control"
        [ngClass]="{'form-control-error': teError('birthDate', 'required')}">
      <div class="error-message" *ngIf="teError('birthDate', 'required')">Data de naixement requerida.</div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input 
        type="email" 
        id="email" 
        formControlName="email"
        class="form-control"
        [ngClass]="{'form-control-error': teError('email', 'required') || teError('email', 'email')}">
      <div class="error-message" *ngIf="teError('email', 'required')">Email requerit.</div>
      <div class="error-message" *ngIf="teError('email', 'email')">Email invàlid.</div>
    </div>

    <div class="form-group">
      <label for="password">Contrasenya:</label>
      <input 
        type="password" 
        id="password" 
        formControlName="password"
        class="form-control"
        [ngClass]="{'form-control-error': teError('password', 'required') || teError('password', 'minlength')}">
      <div class="error-message" *ngIf="teError('password', 'required')">Contrasenya requerida.</div>
      <div class="error-message" *ngIf="teError('password', 'minlength')">La contrasenya ha de tenir almenys 8 caràcters.</div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmar Contrasenya:</label>
      <input 
        type="password" 
        id="confirmPassword" 
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{'form-control-error': teError('confirmPassword', 'required') || teError('confirmPassword', 'passwordMismatch')}">
      <div class="error-message" *ngIf="teError('confirmPassword', 'required')">Confirmar contrasenya requerida.</div>
      <div class="error-message" *ngIf="teError('confirmPassword', 'passwordMismatch')">Les contrasenyes no coincideixen.</div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-submit">Registrar</button>
      <a routerLink="/login" class="login-link">¿Tienes cuenta? Inicia sesión</a>
    </div>
  </form>
</div>